.header {
  background-color: #333;
  color: #fff;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  z-index: 100;
  flex: 1;
  transition: all 0.6s ease-in-out;
  &.transparent {
    background-color: transparent;
    .burger-wrap {
      .burger {
        background-color: rgb(2, 11, 46);
        &.open {
          background-color: transparent;
          &::before {
            background-color: rgb(232, 243, 254);
          }
          &::after {
            background-color: rgb(232, 243, 254);
          }
        }
        &::after,
        &::before {
          background-color: rgb(2, 11, 46);
        }
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    img {
      height: 100px;
      max-height: 90%;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }
  .title {
    color: #fff;
    text-decoration: none;
    z-index: 1000;
    background-color: transparent;
    &.active {
      color: rgb(255, 255, 255);
      border: none;
    }
    h1 {
      font-size: 1.5em;
      margin: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    .logo {
      display: none;
    }
  }
}

