.burger-wrap {
  height: 40px;
  width: 40px;
  display: none;
  position: absolute;
  right: 5em;
  top: 2rem;
  cursor: pointer;
  pointer-events: all;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
  .burger {
    width: 40px;
    height: 7px;
    background-color: rgb(232, 243, 254);
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    &::before {
      content: "";
      width: 33px;
      height: 7px;
      background-color: rgb(232, 243, 254);

      border-radius: 1000px;
      cursor: pointer;
      pointer-events: all;
      z-index: 1;
      transition: all 0.5s ease-in-out;
      position: absolute;
      left: 0;
      top: 13px;
    }
    &::after {
      content: "";
      width: 40px;
      height: 7px;
      background-color: rgb(232, 243, 254);
      border-radius: 1000px;
      cursor: pointer;
      pointer-events: all;
      z-index: 1;
      transition: all 0.5s ease-in-out;
      position: absolute;
      left: 0;
      top: -13px;
    }
    &.open {
      transform: rotate(1080deg);
      background: transparent;
      &::before {
        transform: rotate(-45deg) translate(9px, -14px);
        width: 48px;
        background-color: rgb(232, 243, 254);
      }
      &::after {
        width: 48px;
        background-color: rgb(232, 243, 254);

        transform: rotate(45deg) translate(4px, 10px);
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .burger-wrap {
    display: block;
    z-index: 999;
  }
}
